# http://EditorConfig.org

root = true

# Default rules applied to all file types
[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# JavaScript-specific settings
[*.{js,ts,mjs,cjs,tsx,jsx}]
quote_type = single
continuation_indent_size = 2
curly_bracket_next_line = false
indent_style = space
indent_size = 4
indent_brace_style = BSD
spaces_around_operators = true
spaces_around_brackets = none
